<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/layout :: head" th:remove="body">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>PayStsn</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <link rel="icon" href="favicon.ico">
    <meta name="msapplication-tap-highlight" content="no">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<div class="content">
    <div th:replace="admin/layout :: menu('export')"></div>

    <div class="page">

        <div class="header">
            <span class="material-icons">save</span> Export
            <div class="sub-header">
                You can export the entities here
            </div>
        </div>

        <div class="container-box">
            <div class="container-header">
                EXPORT USERS
            </div>
            <div class="container-content">
                <a th:href="@{/admin/export/accounts}" target="_blank" class="btn btn-success">Export as CSV</a>
            </div>
        </div>

        <div class="container-box">
            <div class="container-header">
                EXPORT TRANSACTIONS
            </div>
            <div class="container-content">
                <a th:href="@{/admin/export/transactions}" target="_blank" class="btn btn-success">Export as CSV</a>
            </div>
        </div>

        <div class="container-box">
            <div class="container-header">
                EXPORT NAMED ITEMS
            </div>
            <div class="container-content">
                <a th:href="@{/admin/export/items}" target="_blank" class="btn btn-success">Export as CSV</a>
            </div>
        </div>

        <div class="container-box">
            <div class="container-header">
                EXPORT AUDIT LOG
            </div>
            <div class="container-content">
                <a th:href="@{/admin/export/logs}" target="_blank" class="btn btn-success">Export as CSV</a>
            </div>
        </div>

    </div>
</div>
</body>
</html>

